[Unit]
Description=Starts the fadecandy server

[Service]
ExecStart={{ scripts.fcserver.dir }}/{{ scripts.fcserver.bin }}
WorkingDirectory={{ scripts.fcserver.dir }}

[Install]
WantedBy=multi-user.target
