[Unit]
Description=LED lights
Requires=fadecandy-server.service
After=fadecandy-server.service

[Service]
ExecStart={{ scripts.led_lights.dir }}/{{ scripts.led_lights.bin }} {{ connection }}
WorkingDirectory={{ scripts.led_lights.dir }}
User=pi
RestartSec=60s
Restart=always

[Install]
WantedBy=multi-user.target
