---
- name: Set up the rpi

  hosts: localhost
  connection: local

  vars:
    - fadecandy:
        dir: /opt/fadecandy
    - piui:
        dir: /opt/piui
    - scripts:
        piui:
          dir: /home/pi
          bin: weather-ui.py
          pypath: /opt/piui
        fcserver:
          dir: /opt/fadecandy/bin
          bin: fcserver-rpi
        led_lights:
          dir: /opt/leds/measureled
          bin: measureled.py
        measure_dh:
          dir: /opt/leds
          bin: measure.py

  tasks:
  - name: install packages
    apt:
      name: "{{ item }}"
      state: present
    with_items:
      - vim
      - git
      - htop
      - tmux
      - ansible
      - build-essential
      - python3-dev
      - ipython3
      - python3-pip
      - python3-pandas
      - nginx
      - python-cherrypy3
      - python-zmq
      - python3-zmq
      - hostapd
      - dnsmasq
    become: yes

  - name: configure wlan0
    copy:
      src: "../conf/wlan0"
      dest: /etc/network/interfaces.d/wlan0
      owner: root
      group: root
      mode: 0644
    become: yes

  - name: ifup wlan0
    # command: bash -c "ifdown wlan0 && ifup wlan0"
    command: bash -c "ifup wlan0"
    become: yes

  - name: make access point
    template:
      src: "../conf/hostapd.conf.j2"
      dest: "/etc/hostapd/hostapd.conf"
      owner: root
      group: root
      mode: 0644
    become: yes

  - name: configure dns/dhcp
    copy:
      src: "../conf/dnsmasq.conf"
      dest: /etc/dnsmasq.conf
      owner: root
      group: root
      mode: 0644
    become: yes

  - name: activate hostapd/dnsmasq
    systemd:
      state: restarted
      enabled: yes
      daemon_reload: yes
      name: "{{ item }}"
    with_items:
      - hostapd.service
      - dnsmasq.service
    become: yes

  - name: have a tmp mount
    systemd:
      name: tmp.mount
      enabled: yes
    become: yes

  # TODO: Make access point

  - name: install fadecandy
    git:
      repo: https://github.com/scanlime/fadecandy
      dest: "{{ fadecandy.dir }}"
      update: no
      version: dd71f3e615ab72dcb3cca90e6bb292972e7c86d6
      refspec: '+refs/heads/*:refs/remotes/origin/*'
    become: yes

  - name: install piui
    git:
      repo: https://github.com/dps/piui.git
      dest: "{{ piui.dir }}"
      update: no
      version: 2a2311255d11a109f2f21a8a8a21066d55fbf6f5
      refspec: '+refs/heads/*:refs/remotes/origin/*'
    become: yes

  - name: remove nginx default config
    file:
      path: /etc/nginx/sites-enabled/default
      state: absent
    become: yes

  - name: install piui nginx config
    copy:
      src: "../conf/piui"
      dest: /etc/nginx/sites-available/piui
      owner: root
      group: root
      mode: 0644
    become: yes
  
  - name: link nginx config
    file:
      src: /etc/nginx/sites-available/piui
      dest: /etc/nginx/sites-enabled/piui
      state: link
    become: yes

  - name: reload nginx
    systemd:
      state: reloaded
      enabled: yes
      name: nginx.service
    become: yes

  - name: install services
    template:
      src: "../services/{{ item }}.j2"
      dest: "/etc/systemd/system/{{ item }}"
      owner: root
      group: root
      mode: 0644
    with_items:
      - fadecandy-server.service
      - led-lights.service
      - measure-dh.service
      - measure-dh.timer
      - piui.service
    become: yes

  - name: enable services
    systemd:
      state: restarted
      enabled: yes
      daemon_reload: yes
      name: "{{ item }}"
    with_items:
      - fadecandy-server.service
      - led-lights.service
      - measure-dh.timer
      - piui.service
    become: yes


